# This file is a github code protect rule follow the codeowners https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

*                                  @wangyikewxgm @wonderflow @barnettZQG

# Owner of addon fluxcd
addons/fluxcd                      @wangyikewxgm @FogDong @charlie0129

# Owner of addon ocm
addons/ocm-cluster-manager         @Somefive

# Owner of addon terraform
addons/terraform                   @chivalryq
addons/terraform-alibaba           @chivalryq
addons/terraform-aws               @chivalryq
addons/terraform-azure             @chivalryq

# Owner of health addon velaux
addons/velaux                      @barnettZQG

# Owner of chartMuseum addon
addons/chartmuseum                 @charlie0129 @wangyikewxgm
addons/loki                        @Somefive @wangyikewxgm
addons/grafana                     @Somefive @wangyikewxgm
addons/o11y-definitions            @Somefive @barnettZQG
addons/prometheus-server           @Somefive @wangyikewxgm
addons/vela-workflow               @FogDong @barnettZQG
