
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.5
  creationTimestamp: null
  name: ingresstraits.core.oam.dev
spec:
  group: core.oam.dev
  names:
    categories:
    - crossplane
    - oam
    kind: IngressTrait
    listKind: IngressTraitList
    plural: ingresstraits
    singular: ingresstrait
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: IngressTrait is the Schema for the ingresstraits API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: IngressTraitSpec defines the desired state of IngressTrait
          properties:
            defaultBackend:
              description: A default backend capable of servicing requests that don't
                match any rule
              properties:
                resource:
                  description: Resource is an ObjectRef to another Kubernetes resource
                    in the namespace of the Ingress object. If resource is specified,
                    serviceName and servicePort must not be specified.
                  properties:
                    apiGroup:
                      description: APIGroup is the group for the resource being referenced.
                        If APIGroup is not specified, the specified Kind must be in
                        the core API group. For any other third-party types, APIGroup
                        is required.
                      type: string
                    kind:
                      description: Kind is the type of resource being referenced
                      type: string
                    name:
                      description: Name is the name of resource being referenced
                      type: string
                  required:
                  - kind
                  - name
                  type: object
                serviceName:
                  description: Specifies the name of the referenced service.
                  type: string
                servicePort:
                  anyOf:
                  - type: integer
                  - type: string
                  description: Specifies the port of the referenced service.
                  x-kubernetes-int-or-string: true
              type: object
            ingressClassName:
              description: 'K8S native IngressClassName: defines which controller
                will implement the resource'
              type: string
            rules:
              description: A list of host rules used to configure the Ingress
              items:
                properties:
                  host:
                    type: string
                  paths:
                    items:
                      properties:
                        backend:
                          description: You can choose not to define it, because IngressTrait
                            will create a service automatically
                          properties:
                            resource:
                              description: TypedLocalObjectReference contains enough
                                information to let you locate the typed referenced
                                object inside the same namespace.
                              properties:
                                apiGroup:
                                  description: APIGroup is the group for the resource
                                    being referenced. If APIGroup is not specified,
                                    the specified Kind must be in the core API group.
                                    For any other third-party types, APIGroup is required.
                                  type: string
                                kind:
                                  description: Kind is the type of resource being
                                    referenced
                                  type: string
                                name:
                                  description: Name is the name of resource being
                                    referenced
                                  type: string
                              required:
                              - kind
                              - name
                              type: object
                            serviceName:
                              type: string
                            servicePort:
                              anyOf:
                              - type: integer
                              - type: string
                              x-kubernetes-int-or-string: true
                          type: object
                        path:
                          type: string
                        pathType:
                          description: PathType represents the type of path referred
                            to by a HTTPIngressPath.
                          type: string
                      type: object
                    type: array
                required:
                - host
                type: object
              type: array
            tls:
              description: K8S native TLS
              items:
                description: IngressTLS describes the transport layer security associated
                  with an Ingress.
                properties:
                  hosts:
                    description: Hosts are a list of hosts included in the TLS certificate.
                      The values in this list must match the name/s used in the tlsSecret.
                      Defaults to the wildcard host setting for the loadbalancer controller
                      fulfilling this Ingress, if left unspecified.
                    items:
                      type: string
                    type: array
                  secretName:
                    description: SecretName is the name of the secret used to terminate
                      TLS traffic on port 443. Field is left optional to allow TLS
                      routing based on SNI hostname alone. If the SNI host in a listener
                      conflicts with the "Host" header field used by an IngressRule,
                      the SNI host is used for termination and value of the Host header
                      is used for routing.
                    type: string
                type: object
              type: array
            workloadRef:
              description: WorkloadReference to the workload this trait applies to.
              properties:
                apiVersion:
                  description: APIVersion of the referenced object.
                  type: string
                kind:
                  description: Kind of the referenced object.
                  type: string
                name:
                  description: Name of the referenced object.
                  type: string
                uid:
                  description: UID of the referenced object.
                  type: string
              required:
              - apiVersion
              - kind
              - name
              type: object
          required:
          - workloadRef
          type: object
        status:
          description: IngressTraitStatus defines the observed state of IngressTrait
          properties:
            conditions:
              description: Conditions of the resource.
              items:
                description: A Condition that may apply to a resource.
                properties:
                  lastTransitionTime:
                    description: LastTransitionTime is the last time this condition
                      transitioned from one status to another.
                    format: date-time
                    type: string
                  message:
                    description: A Message containing details about this condition's
                      last transition from one status to another, if any.
                    type: string
                  reason:
                    description: A Reason for this condition's last transition from
                      one status to another.
                    type: string
                  status:
                    description: Status of this condition; is it currently True, False,
                      or Unknown?
                    type: string
                  type:
                    description: Type of this condition. At most one of each condition
                      type may apply to a resource at any point in time.
                    type: string
                required:
                - lastTransitionTime
                - reason
                - status
                - type
                type: object
              type: array
            resources:
              description: Resources managed by this service trait
              items:
                description: A TypedReference refers to an object by Name, Kind, and
                  APIVersion. It is commonly used to reference cluster-scoped objects
                  or objects where the namespace is already known.
                properties:
                  apiVersion:
                    description: APIVersion of the referenced object.
                    type: string
                  kind:
                    description: Kind of the referenced object.
                    type: string
                  name:
                    description: Name of the referenced object.
                    type: string
                  uid:
                    description: UID of the referenced object.
                    type: string
                required:
                - apiVersion
                - kind
                - name
                type: object
              type: array
          type: object
      type: object
  version: v1alpha2
  versions:
  - name: v1alpha2
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
