name: Addon-test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  # Common versions
  GO_VERSION: '1.19'


jobs:

  detect-noop:
    runs-on: ubuntu-latest
    outputs:
      noop: ${{ steps.noop.outputs.should_skip }}
    steps:
      - name: Detect No-op Changes
        id: noop
        uses: fkirc/skip-duplicate-actions@v3.3.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          paths_ignore: '["**.md", "**.mdx", "**.png", "**.jpg"]'
          do_not_skip: '["workflow_dispatch", "schedule", "push"]'
          concurrent_skipping: false

  Addon-test:
    name: Addon-test
    runs-on: self-hosted
    needs: detect-noop
    if: needs.detect-noop.outputs.noop != 'true'

    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab

      - name: Install tools
        run: |
          sudo apt-get update
          sudo apt-get install make gcc jq ca-certificates curl gnupg -y
          snap install docker
          snap install kubectl --classic
          snap install helm --classic

      - name: Setup Go
        uses: actions/setup-go@4d34df0c2316fe8122ab82dc22947d607c0c91f9
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Check addon semver
        run: |
          make check-addon-semver

      - name: Tear down K3d if exist
        run: |
          k3d cluster delete || true
          k3d cluster delete worker || true

      - name: Setup K3d (Hub)
        uses: nolar/setup-k3d-k3s@293b8e5822a20bc0d5bcdd4826f1a665e72aba96
        with:
          version: ${{ matrix.k8s-version }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          k3d-args: ${{ env.EGRESS_ARG }}

      - name: Setup K3d (Worker)
        uses: nolar/setup-k3d-k3s@293b8e5822a20bc0d5bcdd4826f1a665e72aba96
        with:
          version: ${{ matrix.k8s-version }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          k3d-name: worker
          k3d-args: --kubeconfig-update-default=false --network=k3d-k3s-default ${{ env.EGRESS_ARG }}

      - name: Generating internal worker kubeconfig
        run: |
          internal_ip=$(docker network inspect k3d-k3s-default|jq ".[0].Containers"| jq -r '.[]| select(.Name=="k3d-worker-server-0")|.IPv4Address' | cut -d/ -f1)
          k3d kubeconfig get worker > /tmp/worker.client.kubeconfig
          cp /tmp/worker.client.kubeconfig /tmp/worker.kubeconfig
          sed -i "s/0.0.0.0:[0-9]\+/$internal_ip:6443/"  /tmp/worker.kubeconfig

      - name: Install vela cli
        run: |
          curl -fsSl https://kubevela.io/script/install.sh | bash -s v1.9.0-alpha.3

      - name: Install vela core
        run: |
          vela install -v v1.9.0-alpha.2 --yes
          kubectl get deploy -n vela-system kubevela-vela-core -oyaml

      - name: Vela worker cluster join
        run: |
          vela cluster join /tmp/worker.kubeconfig --name worker
          vela cluster list

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v23.1

      - name: List all changed files
        run: |
            for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
              echo "$file was changed"
            done

      - name: Addon e2e-test
        run: |
          go build -o main test/e2e-test/addon-test/main.go
          ./main ${{ steps.changed-files.outputs.all_changed_files }}

